.navbar {
	background-color: #29E7CD;
}

#mountains-container {
	margin: 5%;
}

.homecontainer {
	margin: 5%;
}


body {
	height: 100%
	margin: 0;
	background-position: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("https://images.pexels.com/photos/1647972/pexels-photo-1647972.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.card {
	height: 50vh;
	overflow: hidden;
}

.card-text {
	height: 35vh;
	margin-bottom: 0;	
	word-wrap: break-word;
}

#homerow {
	padding: 3%;
	background-color: #C4F8F1;
	border: 1px solid #000;
}

.btn {
	position: relative;
	margin-bottom: 0;
}

/*.fadeout1 {
    position: relative; 
    bottom: 5em;
    height: 10em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
} */

/*#homecard1 {
	width: 100%;
	height: 50vh;
}

#homecard2 {
	width: 100%;
	height: 50vh;
}

#homecard3 {
	width: 100%;
	height: 50vh;
}*/

#j {
	background-color: #C4F8F1;
}

.jumbotron-fluid {
	width: 50%;
	float: right;
	margin: 50px 50px;
}

.j1 {
	width: 70%;
	float: left;
	margin: 50px 50px;	
	
}

.j2 {
	width: 70%;
	float: right;
	margin: 50px 50px;	
	
}

.j3 {
	width: 70%;
	float: left;
	margin: 50px 50px;	
	
}



#c1 {
	
	width: 100%;
	height: 75vh;
}

#b1 {
	width: 100%;
	height: 75vh;
}

#i1 {
	height: 75vh;
}

#m1 {
	width: 100%;
	height: 100%;
}

#c2 {
	
	width: 100%;
	height: 25vh;
}

#i2 {
	height: 25vh;
}

#m2 {
	width: 100%;
	height: 100%;
}

#c3 {
	
	width: 100%;
	height: 50vh;
}

#i3 {
	height: 50vh;
}

#m3 {
	width: 100%;
	height: 100%;
}

#c4 {
	
	width: 100%;
	height: 50vh;
}

#i4 {
	height: 50vh;
}

#m4 {
	width: 100%;
	height: 100%;
}

#c5 {
	
	width: 100%;
	height: 50vh;
}

#i5 {
	height: 50vh;
}

#m5 {
	width: 100%;
	height: 100%;
}
